{% if  input.cpu  is true %}
# Read metrics about cpu usage
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states
  report_active = false
{% endif %}

{% if input.system is true %}
# Read metrics about system load & uptime
[[inputs.system]]
  # no configuration
{% endif %}

{% if input.kernel is true %}
# Get kernel statistics from /proc/stat
# This plugin ONLY supports Linux
[[inputs.kernel]]
  # no configuration
{% endif %}

{% if input.disk is true %}
[[inputs.disk]]
  ## By default stats will be gathered for all mount points.
  ## Set mount_points will restrict the stats to only the specified mount points.
  # mount_points = ["/"]

  ## Ignore mount points by filesystem type.
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]
{% endif %}

{% if input.memory is true %}
# Read metrics about memory usage
[[inputs.mem]]
  # no configuration
{% endif %}

{% if input.net is true %}
# Gather metrics about network interfaces
[[inputs.net]]
  ## By default, telegraf gathers stats from any up interface (excluding loopback)
  ## Setting interfaces will tell it to gather these explicit interfaces,
  ## regardless of status. When specifying an interface, glob-style
  ## patterns are also supported.
  ##
  # interfaces = ["eth*", "enp0s[0-1]", "lo"]
  ##
  ## On linux systems telegraf also collects protocol stats.
  ## Setting ignore_protocol_stats to true will skip reporting of protocol metrics.
  ##
  # ignore_protocol_stats = false
  ##
{% endif %}

{% if input.systemd is true %}
# Gather systemd units state
[[inputs.systemd_units]]
  ## Set timeout for systemctl execution
  # timeout = "1s"
  #
  ## Filter for a specific unit type, default is "service", other possible
  ## values are "socket", "target", "device", "mount", "automount", "swap",
  ## "timer", "path", "slice" and "scope ":
  # unittype = "service"
  #
  ## Filter for a specific pattern, default is "" (i.e. all), other possible
  ## values are valid pattern for systemctl, e.g. "a*" for all units with
  ## names starting with "a"
  pattern = "{{ input.systemd_pattern }}"
  ## pattern = "telegraf* influxdb*"
  ## pattern = "a*"
{% endif %}

{% if input.processes is true %}
# Get the number of processes and group them by status
[[inputs.processes]]
  # no configuration
{% endif %}

{% if input.swap is true %}
# Read metrics about swap memory usage
[[inputs.swap]]
  # no configuration
{% endif %}
