server:
    access-control-view: 10.0.0.1/24 trunk-view
    access-control-view: 10.0.10.0/24 vlan010-view
    access-control-view: 10.0.20.0/24 vlan020-view

view:
    name: "trunk-view"
    view-first: yes
{% for entry in lan.mappings %}
    local-data: "{{ entry.name }}.{{ domain }} A {{ entry.ipaddr }}"
    local-data: "{{ entry.name }} A {{ entry.ipaddr }}"
{% endfor %}   
{% for entry in vlan010.mappings %}
    local-data: "{{ entry.name }}.{{ domain }} A {{ entry.ipaddr }}"
    local-data: "{{ entry.name }} A {{ entry.ipaddr }}"
{% endfor %}
{% for entry in vlan020.mappings %}
    local-data: "{{ entry.name }}.{{ domain }} A {{ entry.ipaddr }}"
    local-data: "{{ entry.name }} A {{ entry.ipaddr }}"
{% endfor %}

view:
    name: "vlan010-view"
    view-first: yes
{% for entry in vlan010.mappings %}
    local-data: "{{ entry.name }}.{{ domain }} A {{ entry.ipaddr }}"
    local-data: "{{ entry.name }} A {{ entry.ipaddr }}"
{% endfor %}

view:
    name: "vlan020-view"
    view-first: yes
{% for entry in vlan020.mappings %}
    local-data: "{{ entry.name }}.{{ domain }} A {{ entry.ipaddr }}"
    local-data: "{{ entry.name }} A {{ entry.ipaddr }}"
{% endfor %}
