#!/bin/bash

LOGFILE="/home/notifyuser/notifypushover.log"

# Message
MESSAGE=$(sed -n -e '7'p -e '16,19'p $1)

echo "$(date +"%Y%m%d-%T") - RAW INPUT - $1" >> "$LOGFILE" 2>&1
echo "$(date +"%Y%m%d-%T") - MESSAGE - $MESSAGE" >> "$LOGFILE" 2>&1

# Pushover Webhook
WEBHOOK_URL="https://api.pushover.net/1/messages.json"

# POST request to Pushover API with subject from unattended-upgrade notification
curl -X POST -H 'Content-type: application/json' --data '{"token":"{{ vlt_garagepi_pushover_token }}","user":"{{ vlt_pushover_user }}","message":"'"${MESSAGE}"'","priority":"-1"}' $WEBHOOK_URL

if [ $? -eq 0 ]; then
  echo "$(date +"%Y%m%d-%T") - CURL POST - Pushover notification sent" >> "$LOGFILE" 2>&1
else
  echo "$(date +"%Y%m%d-%T") - CURL POST - Pushover notification failed" >> "$LOGFILE" 2>&1
fi