# Read formatted metrics from one or more HTTP endpoints
[[inputs.http]]
  ## One or more URLs from which to read formatted metrics
  urls = [
    "https://nextcloud.{{ domain }}/ocs/v2.php/apps/serverinfo/api/v1/info?format=json"
  ]

  interval = "5s"

  ## HTTP method
  method = "GET"

  ## Optional HTTP headers
  headers = {"NC-Token" = "{{ nctoken }}"}

  ## HTTP entity-body to send with POST/PUT requests.
  # body = ""

  ## HTTP Content-Encoding for write request body, can be set to "gzip" to
  ## compress body or "identity" to apply no encoding.
  # content_encoding = "identity"

  ## Optional Bearer token settings to use for the API calls.
  ## Use either the token itself or the token file if you need a token.
  # token = "eyJhbGc...Qssw5c"
  # token_file = "/path/to/file"

  ## Optional HTTP Basic Auth Credentials
  # username = "username"
  # password = "pa$$word"

  ## OAuth2 Client Credentials. The options 'client_id', 'client_secret', and 'token_url' are required to use OAuth2.
  # client_id = "clientid"
  # client_secret = "secret"
  # token_url = "https://indentityprovider/oauth2/v1/token"
  # scopes = ["urn:opc:idm:__myscopes__"]

  ## HTTP Proxy support
  # use_system_proxy = false
  # http_proxy_url = ""

  ## Optional TLS Config
  ## Set to true/false to enforce TLS being enabled/disabled. If not set,
  ## enable TLS only if any of the other options are specified.
  # tls_enable =
  ## Trusted root certificates for server
  tls_ca = "/etc/ssl/certs/ca-certificates.crt"
  ## Used for TLS client certificate authentication
  # tls_cert = "/path/to/certfile"
  ## Used for TLS client certificate authentication
  # tls_key = "/path/to/keyfile"
  ## Send the specified TLS server name via SNI
  # tls_server_name = "kubernetes.example.com"
  ## Use TLS but skip chain & host verification
  insecure_skip_verify = true

  ## Optional Cookie authentication
  # cookie_auth_url = "https://localhost/authMe"
  # cookie_auth_method = "POST"
  # cookie_auth_username = "username"
  # cookie_auth_password = "pa$$word"
  # cookie_auth_headers = { Content-Type = "application/json", X-MY-HEADER = "hello" }
  # cookie_auth_body = '{"username": "user", "password": "pa$$word", "authenticate": "me"}'
  ## cookie_auth_renewal not set or set to "0" will auth once and never renew the cookie
  # cookie_auth_renewal = "5m"

  ## Amount of time allowed to complete the HTTP request
  # timeout = "5s"

  ## List of success status codes
  # success_status_codes = [200]

  ## Data format to consume.
  ## Each data format has its own unique set of configuration options, read
  ## more about them here:
  ## https://github.com/influxdata/telegraf/blob/master/docs/DATA_FORMATS_INPUT.md
  #json_string_fields = ["ocs_meta_status", "ocs_meta_message", "ocs_data_nextcloud_system_version"]
  data_format = "json_v2"
  [[inputs.http.json_v2]]
      [[inputs.http.json_v2.object]]
          path = "ocs"
      [[inputs.http.json_v2.tag]]
          path = "ocs.meta.status"
      [[inputs.http.json_v2.tag]]
          path = "ocs.data.nextcloud.system.version"
          rename = "system_version"
      [[inputs.http.json_v2.tag]]
          path = "ocs.data.server.webserver"
          rename = "webserver_version"
      [[inputs.http.json_v2.tag]]
          path = "ocs.data.server.php.version"
          rename = "php_version"
      [[inputs.http.json_v2.tag]]
          path = "ocs.data.server.database.type"
          rename = "database_type"
      [[inputs.http.json_v2.tag]]
          path = "ocs.data.server.database.version"
          rename = "database_version"
      [[inputs.http.json_v2.field]]
          path = "ocs.data.server.database.size"
          rename = "database_size"
          type = "int"