persistence true
persistence_location /mosquitto/data/

log_dest file /mosquitto/log/mosquitto.log
log_timestamp true
log_timestamp_format %Y-%m-%dT%H:%M:%S

listener 1883 0.0.0.0

allow_anonymous false
password_file /mosquitto/config/pwfile.conf

## Disable SSL/TLS because Shelly v1 cannot work with SSL/TLS
#certfile /mosquitto/config/certs/{{ dns_record }}.crt
#keyfile /mosquitto/config/certs/{{ dns_record }}.key
#tls_version tlsv1.3
