{% for item in mqtt_users %}
{{ item.user }}:{{ item.password | password_hash('pbkdf2_sha512', item.salt) | replace('$pbkdf2-sha512$', '$7$') | replace('.', '+') }}==
{% endfor %}
{# Credits to https://nerdoftheherd.com/news/2021/12/30/ansible-mosquitto-password-hash/ for their Ansible method to generate Moqsuitto password hashes#}
