version: "3.5"

volumes:
  loki_data:
    driver: local

services:
  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    restart: unless-stopped
    ports:
      - 3000:3000
    user: "472"
    volumes:
      - "{{ root_dir }}/grafana:/var/lib/grafana"
    environment: ## https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#configure-grafana
      - VIRTUAL_HOST={{ graf_virtual_host }}
      - VIRTUAL_PORT=3000
      - GF_DATABASE_TYPE=mysql
      - GF_DATABASE_HOST={{ mariadb_host }}:3306
      - GF_DATABASE_NAME=grafana
      - GF_DATABASE_USER={{ mariadb_user }}
      - GF_DATABASE_PASSWORD={{ vlt_grafana.mariadb_pw }}
      - GF_SERVER_PROTOCOL=http
      - GF_SERVER_DOMAIN={{ domain }}
      - GF_SERVER_ROOT_URL=https://{{ graf_virtual_host }}
      - TZ=Europe/Amsterdam

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - "{{ root_dir }}/prometheus:/etc/prometheus"
    command: "--config.file=/etc/prometheus/prometheus.yml --web.config.file /etc/prometheus/webconfig.yml --storage.tsdb.path=/prometheus --web.enable-lifecycle"
    environment:
      - VIRTUAL_HOST={{ prom_virtual_host }}
      - VIRTUAL_PORT=9090
      - TZ=Europe/Amsterdam

  pve_exporter:
    image: prompve/prometheus-pve-exporter
    container_name: pve_exporter
    restart: unless-stopped
    ports:
      - 9221:9221
    volumes:
      - "{{ root_dir }}/pve-exporter/pve.yml:/etc/prometheus/pve.yml"

  loki:
    image: grafana/loki:latest
    container_name: loki
    #ports:
      # - 3100:3100
    command: -config.file=/etc/loki/config.yaml
    volumes:
      - "{{ root_dir }}/loki:/etc/loki"
      - "loki_data:/tmp/loki"

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - "{{ root_dir }}/promtail:/etc/promtail"
    command: -config.file=/etc/promtail/config.yml
    ports:
      - 9080:9080
      - 1514:1514

volumes:
  loki_data:
    driver: local

networks:
  default:
    name: reverse-proxy
    external: true
