# my global config
global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s).

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"
    scheme: https
    basic_auth:
      username: usrprometheus
      password: {{ vlt_prometheus.admin_pw }}
    tls_config:
      insecure_skip_verify: true
    static_configs:
      - targets: ["{{ prom_virtual_host }}:9090"]

  - job_name: "proxmox"
    static_configs:
      - targets: ["proxmox.initfive.be:9273"]
        labels:
          instance: proxmox

  - job_name: "opnsense"
    static_configs:
      - targets: ["opnsense.initfive.be:9273"]
        labels:
          instance: opnsense

  - job_name: "linux-vm"
    static_configs:
      - targets: ["docker.initfive.be:9273"]
        labels:
          instance: docker

  - job_name: "nextcloud"
    scheme: https
    static_configs:
      - targets: ["nextcloud.initfive.be:9273"]
        labels:
          instance: nextcloud
    tls_config:
      insecure_skip_verify: true

  - job_name: "linux-lxc"
    static_configs:
      - targets: ['ansible.initfive.be:9273']
        labels:
          instance: 'ansible'

  - job_name: "proxmox-pve"
    static_configs:
      - targets: ["proxmox.initfive.be"]
        labels:
          instance: proxmox
    metrics_path: /pve
    params:
      module: [default]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ prom_virtual_host }}:9221
      - target_label: instance
        replacement: proxmox
    scrape_interval: 60s

  - job_name: esphome
    basic_auth:
      username: lorangetos
      password_file: /etc/prometheus/esphome.pass
    static_configs:
      - targets: ['192.168.10.71:80']
        labels:
          instance: 'bedroomsensor'

  - job_name: elekmeter
    static_configs:
      - targets: ['192.168.10.3:9273']
        labels:
          instance: 'elekmeter'
