#
# Config file for sSMTP sendmail
#
# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=unattended-upgrades@{{ domain }}

# The place where the mail goes. The actual machine name is required no 
# MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub={{  smtp_host }}

# Where will the mail seem to come from?
rewriteDomain={{ domain }}

# The full hostname
hostname={{ inventory_hostname }}.{{ domain }}

# Are users allowed to set their own From: address?
# YES - Allow the user to specify their own From: address
# NO - Use the system generated From: address
FromLineOverride=YES

AuthUser={{ smtp_user }}
AuthPass={{ smtp_password }}
UseTLS=YES
TLS_CA_FILE=/etc/ssl/certs/ca-certificates.crt
