#!/bin/bash

NFS_MNT_LOC="192.168.1.2:/data/backups/ansible"
NFS_MNT_LOC_FILE="checkfile"
LOCAL_MNT_LOC="/backups/ansible"
TAR_BACKUP_NAME="backup_ansible_$(date +"%Y%m%d").tar.gz"
TAR_BACKUP_LOC_ARRAY=('/etc/ansible' '/home/sorbit/ansible' '/home/sorbit/.ansible')
LOGFILE=/home/sorbit/scripts/logs/ansible_backup_logfile.log
PUSHOVER_TOKEN="{{ vlt_pushover_token }}"
PUSHOVER_USER="{{ vlt_pushover_user }}"

set -o errexit 

log_function(){
    # function which works with argumenta $1 or with stdin
    if [ -n "$1" ]
    then
        IN="$1"
    else
        read -r IN
    fi
    if [[ -n $IN ]]; then
        echo "$(date +"%Y%m%d-%T") - $IN" >>$LOGFILE 2>&1
    fi
}

send_pushover_notif(){
    log_function "Sending Pushover notification: $1"
    curl -s \
      --form-string "token=$PUSHOVER_TOKEN" \
      --form-string "user=$PUSHOVER_USER" \
      --form-string "message=$1" \
      https://api.pushover.net/1/messages.json 2>&1 | log_function || exit 1
    # curl --request POST --url "https://api.pushover.net/1/messages.json?token=$PUSHOVER_TOKEN&user=$PUSHOVER_USER&message=$1" 2>&1 | log_function || exit 1
}

cleanup_old_backups(){
    export -f log_function
    backup_count=$(find "${LOCAL_MNT_LOC}" -name "backup*" -type f | wc -l)
    # If backup_count is greater than 14, delete the oldest backup
    if [[ $backup_count -gt 14 ]]; then
        log_function "Found $backup_count backups, deleting the oldest one"
        find "${LOCAL_MNT_LOC}" -name "*.tar.gz" -type f -ctime +14 -printf '%T+ %p\n' -exec rm -f {} \; 2>&1 | log_function || exit 1
    fi    
}

if [ ! -d "$LOCAL_MNT_LOC" ]; then
    log_function "$LOCAL_MNT_LOC does not exist, creating it"
    mkdir "$LOCAL_MNT_LOC" 2>&1 | log_function || exit 1
fi

if mountpoint -q $LOCAL_MNT_LOC; then
    log_function "$LOCAL_MNT_LOC already mounted"
else
    log_function "Mounting $NFS_MNT_LOC to $LOCAL_MNT_LOC"
    mount -t nfs "$NFS_MNT_LOC" "$LOCAL_MNT_LOC" 2>&1 | log_function || exit 1
fi


if [[ -w $LOCAL_MNT_LOC/$NFS_MNT_LOC_FILE ]]; then
    tar --exclude='*.pass' -czvf "$LOCAL_MNT_LOC"/"$TAR_BACKUP_NAME" "${TAR_BACKUP_LOC_ARRAY[@]}" 2>&1 | log_function || exit 1
    cleanup_old_backups
    log_function "Succes! Created daily backup at $LOCAL_MNT_LOC/$TAR_BACKUP_NAME"
else
    send_pushover_notif "Something went wrong with backup on Ansible LXC container"
fi
#umount "$LOCAL_MNT_LOC" 2>&1 | log_function || exit 1
