version: '3.3'

services:
  app:
    image: fireflyiii/core:latest
    hostname: firefly_app
    container_name: firefly_iii
    restart: unless-stopped
    # ports:
    # - '80:8080'
    volumes:
      - "{{ firefly_dir }}/uploads:/var/www/html/storage/upload"
    env_file: .env

  importer:
    image: fireflyiii/data-importer:latest
    hostname: firefly_importer
    restart: unless-stopped
    container_name: firefly_iii_importer
    # ports:
    #   - '81:8080'
    depends_on:
      - app
    env_file: .importer.env

networks:
  default:
    external: true
    name: reverse-proxy
