version: '3.3'
services:
  broker:
    container_name: paperless_broker
    image: docker.io/library/redis:7
    restart: unless-stopped
    volumes:
      - "redis:/data"
  webserver:
    container_name: paperless_webserver
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - broker
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - "data:/usr/src/paperless/data"
      - "media:/usr/src/paperless/media"
      - "export:/usr/src/paperless/export"
      - "consume:/usr/src/paperless/consume"
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBENGINE: mariadb
      PAPERLESS_DBHOST: "{{ db.host }}"
      PAPERLESS_DBUSER: "{{ db.user }}"
      PAPERLESS_DBPASS: "{{ db.password }}"
      PAPERLESS_SECRET_KEY: "{{ vlt_paperless.secret_key }}"
      #PAPERLESS_URL: "paperless.{{ domain }}"
      PAPERLESS_DBPORT: 3306
      PAPERLESS_OCR_LANGUAGES: eng nld
      PAPERLESS_OCR_LANGUAGE: nld
      USERMAP_UID: 1000
      USERMAP_GID: 1000
      TZ: Europe/Brussels

volumes:
  redis:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ paperless_remote_mount }},rw,vers=4"
      device: ":{{ paperless_remote_dir }}/redis"
  data:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ paperless_remote_mount }},rw,vers=4"
      device: ":{{ paperless_remote_dir }}/data"
  media:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ paperless_remote_mount }},rw,vers=4"
      device: ":{{ paperless_remote_dir }}/media"
  export:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ paperless_remote_mount }},rw,vers=4"
      device: ":{{ paperless_remote_dir }}/export"
  consume:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ paperless_remote_mount }},rw,vers=4"
      device: ":{{ paperless_remote_dir }}/consume"

networks:
  default:
    name: reverse-proxy
    external: true