interface=wlan0
driver=nl80211
country_code=BE
hw_mode=g
ssid="{{ vlt_wifi_garagepi.ssid }}"
channel=9
auth_algs=1
wpa=2
wpa_passphrase="{{ vlt_wifi_garagepi.psk }}"
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP CCMP
rsn_pairwise=CCMP